[2020-06-25 17:18] absolution1 opened #7 "Consolidate the SBND filters"
There's at least two directories containing filters in SBND:
 - `Filters`
 - `SimulationFilters`

The filters contained in these directories (and other directories) should be combined in a single directory and we should similarly define all of the FCL parameter sets in filters_sbnd.fcl

Not a high priority, but something to keep in mind.

[2020-06-26 12:12] absolution1 opened #8 "The SBND LArSoft event display should not read the simulation services block"
The SBND LArSoft event display currently reads the `simulation_services` fcl table.  The lar instance loading the event display  is unable to load the noise service correctly, resulting in a crash.
I don't think the event display needs any simulation-level info, so the services block should be updated to load `sbnd_services` rather than `sbnd_simulation_services`

[2020-06-26 12:13] absolution1 commented on #8
Fixed in #a834604

[2020-06-26 12:13] #8 closed

[2020-06-26 12:19] absolution1 opened #9 "SBND maintains two separate values for the pedestal: in database_sbnd.fcl and in detsimmodules_sbnd.fcl"
The pedestal info in detsim was updated within the last 1/2 year (collection ped==650) but that change did not propagate to the pedestal service (collection ped==400).
The SBND LArSoft event display, by default, reads pedestal information from the database which means you get a very angry raw event display with a baseline of 650-400==250 ADU.

Other areas of sbndcode, which require pedestal use, t

[2020-06-26 12:43] absolution1 commented on #9
Fixed in commit 17ead70

[2020-06-26 12:43] #9 closed

[2020-07-21 22:33] ikatza opened #12 "SBND PSD Map has the opposite numbering convention"
The convention used for the optical detector channel numbers is effectively opposite to the numbering scheme of TPCs.

Effectively the convention used for channels numbers, and other identifiers is:

 **ODD** numbers given to channels on the APA with x<0.

For clarity this convention is shown in the picture below:
![Screenshot 2020-07-21 at 10 58 39 PM](https://user-images.githubusercontent.com/87

[2020-07-21 22:47] ikatza commented on #12
There's an ongoing effort to update the geometry, that's taking place in PR #6 by @mrguzzo.

This geometry update would be a good opportunity to fix this minor issue, particularly because that update and the fix for this issue are both backwards incompatible: files created with previous geometries won't work with the new geometry.

Tagging @ggamezdiego as convener of the optical simulation in SBND

[2020-07-22 08:29] ggamezdiego commented on #12
If I'm not mistaken, the TPC-ID is an information you can get from the geometry services. I would suggest (unless not possible for some reason) to use this service to get this information in a coherent manner.

[2020-07-22 09:49] ikatza commented on #12
Correct, one can get the TPC-ID from geometry services. However, I failed to understand how this would address the rest of IDs.

[2020-07-22 10:56] ggamezdiego commented on #12
If with the "rest of IDs" you mean optical channel ones, you are right, they are not available by the geometry services. We are planning to include these possibility in a (near)future update.

[2020-07-22 13:20] absolution1 opened #13 "sbndcode does not explicitly depend on larreco, despite sbndcode's modules having such dependencies"
`sbndcode`'s top-level `CMakeLists.txt` does not setup the required `larreco` dependency i.e. `find_ups_product( larreco )` is missing from `CMakeLlists.txt`

Bizarrely, sbndcode has always compiled just fine in isolation despite this omission.  This missing dependency only seems to become apparent when simultaneously compiling sbndcode with another package that does have the larreco dependency se

[2020-07-22 13:23] #13 closed

[2020-07-29 16:55] marcodeltutto opened #14 "OpHit PE Calculation"
Issue found by Francisco Javier Nicolás, thank you!
The OpHit PE calculation is done by taking the OpHit area under the waveform and then scaling by a factor `Area1pePMT`. When calculating the area, the sampling frequency currently used is in MHz, while it should be in GHz so as to have an area in ADC * ns, which will then be compatible with the settable `Area1pePMT`.

[2020-07-29 19:08] #14 closed

[2020-07-31 12:47] ikatza commented on #12
I have traced the reason for this, and it essentially comes down to:

- The current channel numbering convention is :
**the channel number increases with decreasing Z, Y or X; in that order of priority**
- IMO the channel numbering convention should be:
**the channel number increases with increasing  Z, Y or X; in that order of priority**

For the case of SBND I believe the best is to change the c

[2020-08-03 07:40] ggamezdiego commented on #12
If I remember well, the sorting rule of the PDS channels is the same than for any other sorted objects in LArSoft. I mean, LArSoft has one single sorting rule. I don't think changing it for the PDS is a good idea (it is easier to be consistent and coherent). As I have mentioned in previous comments (in other issues) all the PDS identification/location should be managed by a geometry service where

[2020-08-03 23:16] ikatza commented on #12
There are distinct sorting rules for various things already in LArSoft:
https://github.com/LArSoft/larcorealg/blob/develop/larcorealg/Geometry/GeoObjectSorter.h

This is by design, a set comparisons might not make sense for every system. However most of them follow the general convention that I suggest. The only one that deviates from that is `sortPlaneStandard()` in which the X coordinate goes op

[2020-08-06 13:52] ggamezdiego commented on #12
Probably, at this point, you should present the case to the SBND PAT meeting and see what the people think.

[2020-09-04 03:26] marcodeltutto opened #24 "DetectorClocksData Broken in Optical Simulation Code"
With LArSoft v9, changes to `sbndcode` have been made to comply with the new Services structure. The `DetectorClocksData`, used in the optical simulation code to get the optical clock, is set in the constructor of the LArSoft plugin `opDetDigitizerSBND`, and then passed to the digitizer worker via a reference wrapper `std::cref`. Such reference gets broken as the `DetectorClocksData` only exists i

[2020-09-04 18:50] ikatza commented on #12
I've opened a new PR #26  to start from the new changes to the geometry and avoid merge conflicts.

Below I show how the new map looks like. Note that in the plots below the target is to the left, i.e. the beam is coming from left to right. On the spreadsheet that I posted above the beam is coming from the opposite direction.

The sizes of the detectors are not to scale, but their centre position

[2020-09-07 20:35] #24 closed

[2020-09-07 21:25] #12 closed

[2020-09-07 22:54] marcodeltutto opened #28 "Single PE Test Bench Waveform Vector"
The single PE waveform vector from the test bench measurement is stored in `sbnd_data` in `OpDetSim/digi_pmt_sbnd.root` with name `SinglePEVec`.

In https://github.com/SBNSoftware/sbndcode/blob/develop/sbndcode/OpDetSim/DigiPMTSBNDAlg.cc#L48 is retrieved with name `SinglePEWave`, which causes a segmentation fault.

[2020-09-08 09:02] ikatza commented on #28
Ups yeah my fault, forgot to rename a variable. PR #29 fixes this.

[2020-09-09 16:52] #28 closed

[2020-09-15 17:14] PetrilloAtWork opened #30 "Update refactored branch of sbndcode to the target version"
The refactored branch `feature/repositoryRestructuring` is branched from `v08_57_00`.
If that is the branch for the final refactoring, it needs to be updated to the target version for refactoring (if not, the correct branch needs the same update).
There _might_ be other `sbndcode` branches that need to be integrated/merged together. I am not aware of any other.

[2020-10-03 09:50] fjnicolas opened #34 "opDetDigitizerWorker only creates a waveform if there are REFLECTED photons arriving to the PMTs"
In some events, there are some OpCh with SimPhotonsLite saved but no waveforms built.

The problem is in OpDetSim/opDetDigitizerWorker.cc and how the waveforms are created. In the PMTs case, the module only creates a waveform (if conditional in lines 164-165) if there are REFLECTED photons arriving the OpChannels (direct photons are added later to the waveform, but only if there is at least one re

[2020-10-05 10:21] ikatza commented on #34
Great find @fjnicolas!

Note that same faulty logic for the case you mention:
https://github.com/SBNSoftware/sbndcode/blob/978efb9437a93394d4490ab696257d4c5ca24b78/sbndcode/OpDetSim/opDetDigitizerWorker.cc#L164-L165

repeats for the non-lite part of the code:
https://github.com/SBNSoftware/sbndcode/blob/978efb9437a93394d4490ab696257d4c5ca24b78/sbndcode/OpDetSim/opDetDigitizerWorker.cc#L227

I beli

[2020-10-09 15:54] fjnicolas opened #39 "Some files are not being closed while running OpDet Digitization module"

[2020-10-09 16:25] ikatza commented on #39
Thanks for finding this out. Indeed on some types of runs running several events, it can happen that we reach the maximum amount of open files.

I've prepared PR #40 to fix this. It incurs a small performance hit.

[2020-10-14 10:26] ascarff commented on #30
I think this can be closed now. The restructured repo is now in develop and up to date with the latest version of LArSoft.

[2020-10-16 18:39] #30 closed

[2020-10-16 18:42] wesketchum commented on #34
Has this been resolved/fixed in sbndcode?

[2020-10-16 18:43] wesketchum commented on #39
PR is merged in. I'm going to close this issue.

[2020-10-16 18:43] #39 closed

[2020-10-16 18:48] wesketchum opened #47 "Update SBND fcl files for 2020A production"
I have this from a message/quick look from Joseph. Don't know if it's accurate.

I'd assign this to Mike Mooney, but don't see him as a member of SBNSoftware. So, sorry @jzennamo.

[2020-10-17 10:30] fjnicolas commented on #34
Fixed in the PR #43

[2020-10-19 14:49] absolution1 commented on #47
Those numbers do indeed describe the parameter state for sbndcode.
The calo constants were last changed 4 years ago.

The lifetime should only need tweaking here: https://github.com/SBNSoftware/sbndcode/blob/develop/sbndcode/Utilities/detectorproperties_sbnd.fcl#L8

and the calo constants should only need tweaking here:
https://github.com/SBNSoftware/sbndcode/blob/develop/sbndcode/LArSoftConfigura

[2020-10-19 16:12] jzennamo commented on #47
OK, I changed these to the values we agreed to. Question, how would we like these tested?

I can check the fcl dumps for all the production fcls to check. Anything else?

[2020-10-19 16:30] wesketchum commented on #47
Checking fcl dumps sounds like a good first thing.

Calorimetry is maybe the end result to check then? Not sure what the best way to test this is otherwise.

@jzennamo, do you have a branch/pull request nearing ready that we can link? Just to keep track.

[2020-10-19 16:31] jzennamo commented on #47
I am writing up a quick script to dump all our production fcls so I can quickly check.

I'll also have to work with @gputnam to address #4 above

[2020-10-19 18:08] jzennamo commented on #47
According to @gputnam the SBND space-charge configurations are incorrect, we should check that before closing this issue.

[2020-10-19 18:13] gputnam commented on #47
I think the space charge config is correct -- sorry -- it was a different piece of the config that I thought was wrong.

I think the space charge piece of the config looks ine.

[2020-10-19 18:38] jzennamo commented on #47
OK! Good to know, I added this feature branch that should gobble that up then:
https://github.com/SBNSoftware/sbndcode/compare/feature/zennamo_intime_with_sce

if @gputnam thinks it is correct I'll request a pull-request and we can close this issue

[2020-10-20 14:55] jzennamo commented on #47
OK, @gputnam has addressed the 4th problem above in this PR https://github.com/SBNSoftware/sbndcode/pull/51

I'll close this

[2020-10-20 14:55] #47 closed

[2020-10-21 14:14] #34 closed

[2020-10-28 12:36] ikatza opened #56 "Ortho3D and Display3D views are broken"
The last version that I found to be working is `v08_55_00`.

This commit a8346043 by @absolution1 changed the simulations services to address an issue with the noise service. Whilst it did manage to get back the event display, it didn't fix the Ortho3D and Display3D views.

Unfortunately the current version of sbndcode `v09_08_00` introduce new changes that prevent files produced with it to be dis

[2020-10-28 12:39] absolution1 commented on #56
Hi @ikatza IIRC I dropped the simulation services block for the generic services block.  It is a little bizarre that the simulation services block is needed for those displays.

Anyway, the most correct-est thing to do would be to convince the display not to care about the noise service when using the full simulation service block.

[2020-10-28 14:55] ikatza commented on #56
Confirm that commenting out

[code]

from `LArSoftConfigurations/simulationservices_sbnd.fcl` does bring back the Ortho3D and Display 3D views.

I'll come up with something neater.

[2020-10-28 16:21] ikatza commented on #56
I've opened PR #57 to fix this issue.

[2020-10-28 16:24] ikatza opened #58 "Maintenance required on the noise model"
Looking into issue #56, I was getting the following exception:

[code]

@ascarff suggests there's some redundancy about histograms no longer needed. Some code cleanup might be needed.

[2020-10-28 17:09] ascarff opened #59 "sbndPDMapAlg causing sbndcode c7 builds to fail."
The CI has picked up fails in the c7 builds coming from sbndPDMapAlg. Looks like it's a simple fix to the function. Error is:

`2107: In file included from /scratch/workspace/sbnd_ci/label_exp/SLF7/label_exp2/swarm/SBND/srcs/sbndcode/sbndcode/OpDetSim/opDetDigitizerWorker.cc:4:
2108: In file included from /scratch/workspace/sbnd_ci/label_exp/SLF7/label_exp2/swarm/SBND/srcs/sbndcode/sbndcode/OpDetS

[2020-10-28 17:43] ikatza commented on #59
PR #60 fixes this.

[2020-10-29 16:26] #56 closed

[2020-10-29 16:38] ascarff commented on #58
Yep, this is on my todo list!

[2020-10-30 09:05] ascarff commented on #59
PR #60 merged. Closing.

[2020-10-30 09:05] #59 closed

[2020-10-30 20:24] gputnam opened #61 "[MCP2020A] Apparent Issue with PMT OpHits"
While testing the production for MCP 2020A, we encountered an issue where the simple flash matching (Iker's) was not producing output. We traced this to an issue where all of the OpHit's from PMT's are produced with "0" filled in every variable in each hit as seen by Iker's module.

From my view, it seems like we should hold off on production until we can confirm the integrity of the OpHits.

[2020-10-30 20:24] gputnam opened #62 "[MCP2020A] Issue With OpHits"
While testing the production for MCP 2020A, we encountered an issue where the simple flash matching (Iker's) was not producing output. We traced this to an issue where all of the OpHit's from PMT's are produced with "0" filled in every variable in each hit as seen by Iker's module.

From my view, it seems like we should hold off on production until we can confirm the integrity of the OpHits.

[2020-10-30 20:25] #62 closed

[2020-11-02 09:35] etyley opened #63 "[MCP2020A] reco2_sce fcls do not run"
`reco2_sc2.fcl` and `reco2_3drift_windows_sce.fcl` do not run in version v09_09_00 and are needed for production. When trying to  run I get the following error:
[code]

[2020-11-02 10:57] ascarff opened #65 "The SBND CI tests still run reco_basic, not reco1 & reco2"
This wasn't thought an urgent change, but the flash matching was only added to reco1/reco2 and issues in that have been missed. The CI fcls and cfg need updating to run the new workflow.

[2020-11-02 12:21] ikatza commented on #61
Hey mate, thanks for testing this. It's a quick fix, had to rename the OpHitProducer. Fix is on #66.

[2020-11-02 21:02] marcodeltutto opened #67 "OpHit and OpFlash Times Always Negative"
Reported by Varuna and Ed. OpHit times are always negative when running with a 3-drift configuration.

[2020-11-03 11:36] #63 closed

[2020-11-03 11:41] #67 closed

[2020-11-03 15:36] wesketchum opened #69 "SBND CRT bottom panel geometry"
Get bottom panel of CRT into SBND geometry

[2020-11-04 11:37] #61 closed

[2020-12-15 20:37] ikatza opened #75 "TPC boundary is wrong"
I observed this issue a while back, when working on the light simulation. Actually I opened an issue in LArSoft redmine: https://cdcvs.fnal.gov/redmine/issues/24430

The X position of the cathode is wrong. It reports to be at +- 2.6 cm. It should be something closer to 0 cm.

[code]

I don't know if this is an issue with the geometry functions upstream, the way the SBND geometry is parsed or the a

[2021-01-22 02:37] ikatza opened #78 "XARAPUCA digitiser clock not set correctly"
Currently the digitiser clock of PMTs and (X)ARAPUCAS is set to 500 MHz. That's the clock of the CAEN v1730. However the DAPHNE electronics works at 80MHz.

There's a set of XARAPUCAS on the middle of the detector that are connected to APSAIA electronics; preamplifiers and power supplies served by a microcontroller, these are also digitised by the CAEN v1730 boards an so have the same clock as PMT

[2021-01-22 16:56] mstancar opened #79 "Beam spot is in the wrong place"
Beam axis should be at x=-74 cm in the larsoft SBND detector coordinate system based on the latest survey measurements.
Currently it is at x=+50cm

Cross check of this number is ongoing with the data taken with the CRT panels in the pit.

[2021-01-22 17:02] jzennamo commented on #79
Thanks for pointing this out @mstancar. Who is cross-checking this number with the CRT panels? Just so we can follow-up

[2021-01-22 17:14] mstancar commented on #79
That would be Igor and Ornella

From: jzennamo <notifications@github.com>
Reply-To: SBNSoftware/sbndcode <reply@reply.github.com>
Date: Friday, January 22, 2021 at 11:03 AM
To: SBNSoftware/sbndcode <sbndcode@noreply.github.com>
Cc: Michelle D Stancari <mstancar@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [SBNSoftware/sbndcode] Beam spot is in the wrong place (#79)

Thanks for poin

[2021-01-24 17:53] ikatza opened #80 "XARAPUCA Waveform Simulation doesn't distinguish electronics"
There are two distinct electronics used in SBND to readout XARAPUCAS: DAPHNE electronics and APSAIA+CAEN v1730.

Their behaviour is different, for instance their single PE response and digitisation clock.

I suggest to add a field on the json PDS map:
https://github.com/SBNSoftware/sbndcode/blob/develop/sbndcode/OpDetSim/sbnd_pds_mapping.json

Something like `"electronics": "apsaia"/"daphne"` It's

[2021-01-25 11:25] #65 closed

[2021-02-03 15:23] jicrespo commented on #80
@rodralva is going to look into this.

[2021-02-18 10:11] henrylay97 opened #82 "Single interaction intrnue simulation uses rotated buckets as standard"
The standard single interaction intrnue generation fcl:

`prodgenie_intrnue_singleinteraction_tpc_gsimple-configf-v1.fcl`

Uses a rotated bucket configuration (inherited from `prodgenie_nu_spill_tpc_gsimple-configf-v1.fcl`). The equivalent bnb file does not and neither do the equivalent overlay fcls for bnb or nue.

[2021-02-18 15:16] #82 closed

[2021-03-18 20:19] marcodeltutto commented on #79
Update: Zarko is producing new gsimple files with the correct X offset.

[2021-03-23 13:53] rodralva commented on #78
Hi Iker, @ggamezdiego,

I've been looking into the files where the OpticalClock appears. As Iker commented, there's no easy workoaround to fix it. The frequency is defined to be the same for all the event/events, so we'll need to add some lines that distingish between different readout channels (for all the files).

For the frequency value itself, we could set it from some fhicl file e.g. :
https:

[2021-04-02 12:16] wesketchum commented on #58
Status on this @ascarff or @ikatza ? I'm guessing this is resolved given its age? If so let's close this issue.

[2021-04-02 12:18] wesketchum commented on #7
This is still the case ... @therealendrju, @absolution1, or @pgreen135, do we have someone to assign this to? If not, I'd like to mothball this in some way.

[2021-04-02 14:09] wesketchum commented on #69
@ilepetic can I ping for status on this? (I think it's done?)

[2021-04-02 14:12] ilepetic commented on #69
Yes, it is done.

[2021-04-02 14:28] #69 closed

[2021-04-02 14:49] wesketchum commented on #75
@ikatza is this still an outstanding issue? If so, we should get someone on it...

[2021-04-02 17:14] ikatza commented on #75
@mrguzzo or @gustavogx, should comment. But I believe the new geometry update solves this, would need to check when it gets merged.

[2021-04-05 17:23] gustavogx commented on #75
Yes, it should be zero now. I moved half of the cathode inside the TPC so its logical volume can start at the right position.
Could someone please check again with the latest version, before merging?

feature/NewGeometry_v2

[2021-04-05 18:43] pgreen135 commented on #75
@gustavogx if this is ready to be merged, please submit a pull request and I will include it in the next release

[2021-04-05 19:37] gustavogx commented on #75
Not, it is not. We are still make some adjustments. As soon as it is, I'll make a pull request. Thanks!

[2021-04-05 20:26] wesketchum commented on #75
(assigning gustavo, just for bookkeeping)

[2021-04-06 12:17] ikatza commented on #58
¯\_(ツ)_/¯

[2021-04-06 12:19] ikatza commented on #75
In my opinion PR don't necessarily are _finished features_. I think it's ok to open them to get the review going and so that people who are interested can take a look or at least are aware what's coming. That's certainly the approach I take. Github is smart enough to add on new commits to the PR and update the revisions as they change.

[2021-04-06 16:51] marcodeltutto commented on #75
Hi! I would suggest to open a PR in a draft stage if it is not ready to be merged yet, so there is no risk that it gets merged accidentally.

Regarding the minX, maxX, this is what I get with the geometry in `feature/NewGeometry_v2`:
[code]

Do we really want `MinX()` to be exactly zero? I think this means that in LArSoft the position of the foils on the cathode is interpreted to be at (for TPC 1)

[2021-04-06 17:49] ikatza commented on #75
Hi Marco,

Can you please check what do you get from
[code]
that's what is being called in the light simulation.

It certainly would be better if it returned the actual few mm value. But don't think it has a large significance, if in deed no ionisation is produced at x=0 then no light is produced either. As such the bias is restricted to the distance that light travels from the ionisation, to the

[2021-04-06 19:14] marcodeltutto commented on #75
Hi Iker! I get 0 also for the cathode center X:

[code]

I agree this is not significant for the amount of light and ionization produced. The reason I was raising this issue is because it was noticed during drift velocity studies. A few mm make a noticeable difference when you estimate the drift velocity from the time of the hits and the detector width. If it's too hard to change this is probably

[2021-04-09 11:13] #79 closed

[2021-04-16 15:36] marcodeltutto opened #98 "Cosmic Generation Surface"
Make sure cosmic generation surface is high enough in `Y` and does not intersect with the building.

[2021-04-16 15:47] wforeman opened #99 "prodsingle scripts have hardcoded T0 arrays"
Prodsingle scripts should always inherit T0, since this value is subject to change with future TPC readout and cosmic sim adjustments. Multi-particle guns currently list out the array explicitly (T0: [blah, blah..]). Is it possible to slot in a fcl parameter via `@local or @sequence or @table`?

[2021-05-01 20:32] jzennamo opened #103 "To drop SimChannels need to modify TruthMatching Utilities"
We have added an association between hits, MCParticles, and their IDEs. This is all the information needed for truth matching and much lighter than SimChannels. There are truth matching utilities that need to be modified to accommodate this new association

[2021-05-01 20:59] jzennamo commented on #103
Could you point to the functions that need to be modified?

[2021-05-11 09:29] absolution1 commented on #103
Hi @jzennamo
Slightly crossed wires: I'm thinking that we should change the underlying implementation in the backtracker so that we don't have to change any of the user-facing truth matching interfaces.
The rough idea would be that the backtracker would figure out, under the hood, whether it needs to use the sim channels or the underlying association data product you mentioned above.
For reference

[2021-05-11 09:50] cjbackhouse commented on #103
Is there a need to dynamically support both? I'm sure it would be simpler code-wise to just have a clean break. But maybe since it takes time to produce new files we will have to support old and new for a little while?

[2021-06-25 09:13] #98 closed

[2021-07-05 10:24] #75 closed

[2021-07-20 13:55] fjnicolas opened #125 "Tree branches for CRT strips have different size in HitDumper module"
In sbndcode/Commissioning/HitDumper_module.cc, line 517:

        _crt_time.push_back(ctime);
        _crt_adc.push_back(adc1 + adc2 - 127.2); // -127.2/131.9 correct for gain and 2*ped to get pe
        _crt_pos.push_back(center.Y());
        if (tagger.second == kCRTVertical) {
          _crt_pos.push_back(center.X());
        };

When the if statement "if (tagger.second == kCRTVertical)" is sat

[2021-07-20 15:16] marcodeltutto commented on #125
Thanks @fjnicolas for spotting this! @astblake also pointed out this problem in an email. @astblake you mentioned you have a pull request to fix this?

[2021-07-20 17:11] fjnicolas commented on #125
Great @marcodeltutto! Another point is that we may be interested in also saving the strip Z coordinate instead of X/Y depending on the CRT plane. For instance for the the east-west planes the X position of the strip is already known given the plane ID, and the Z would give us more information about the position of the triggered strip. Something like:

- 1. Front-back planes: save X (vertical strip

[2021-07-20 23:13] marcodeltutto commented on #125
Yes, definitely useful! Can we save X, Y, and Z for all planes? Then one of the three will be trivial depending on the plane, but in this way we save all of them in same way. Thanks!

[2021-07-26 09:31] #125 closed

[2021-07-28 15:48] wesketchum commented on #7
@pgreen135 : any update/decision on this? Would be nice to resolve this in some way.

[2021-07-28 15:55] pgreen135 commented on #7
@wesketchum this is still the case, I guess SimulationFilters should be a sub-directory of Filters? there is nobody assigned to look at this though

[2021-07-28 16:01] pgreen135 commented on #58
I presume this was resolved, given the linked issue was fixed. So am going to close this issue

[2021-07-28 16:01] #58 closed

[2021-07-28 22:01] wesketchum commented on #80
@jicrespo @rodralva any update on this?

[2021-07-29 08:28] rodralva commented on #80
Hi Wesley! Yes, I've been [working on the issue](https://sbn-docdb.fnal.gov/cgi-bin/sso/ShowDocument?docid=22430) and I'll do a pull request with the frequency and the test XArapuca response updates this week or the next.

[2021-08-02 11:07] henrylay97 opened #130 "GENIE Random Seed for CI Tests"
We've had a long running issue in the CI system where the `nucosmics_gen` test occasionally (ball park 1 in 20 runs) produces 2 neutrino interactions (2 `MCTruth` objects) rather than one. An example of the CI output can be found [here](https://dbweb8.fnal.gov:8443/LarCI/app/ns:sbnd/storage/docs/2021/07/27/stdout%234A2CME7.log) at the end of this log.

The [fcl](https://github.com/SBNSoftware/sbnd

[2021-08-02 16:31] vitodb commented on #130
By comparing the debug.log for the `nucosmics_gen` job used to generate the reference files and the corresponding job used to test the new reference I see there are differences in the seeds used by the random engine, I have the impression those seeds are set to `0`.

- Log for the reference generation
[code]
- Log for the reference check
[code]
It looks like also `single_gen` has the random engine

[2021-08-02 17:08] vitodb commented on #130
Not sure if this is the cause of the seed issue, but it could contribute to it.
In the [ci_tests.cfg](https://github.com/SBNSoftware/sbndcode/blob/develop/test/ci/ci_tests.cfg) for the `[test nucosmics_gen_seq_test_sbndcode]` section there is
[INPUT_STREAM=%(XROOTD_BASEFILEDIR_SBNDCODE)s/input/empty/EmptyEvents_01.root](https://github.com/SBNSoftware/sbndcode/blob/develop/test/ci/ci_tests.cfg#L745

[2021-08-02 18:00] wesketchum commented on #80
thanks @rodralva !!

The sooner the better so we can get it reviewed and verify it passes all tests ahead of our aimed release deadline of 13 Aug. Looking forward to seeing this all in!

[2021-08-02 18:56] PetrilloAtWork commented on #130
I confirm that the `perEvent` policy bases its random seeds on the timestamp of each event, therefore using two different `EmptyEvent` input files for input will generate different random seeds. The presence of different `EmptyEvent` was motivated precisely with the idea of having different seeds between jobs, but the sequence and quick jobs should share it.
Thus, the problem may be a common copy-

[2021-08-02 21:20] henrylay97 commented on #130
Thank you both for looking at this so quickly! Vito makes a good point about the two different input files and I'll take a look at this tomorrow to see if this fixes our problem. I also feel there might be a little more to it though.

If I understand what you've both said then having the two different input files should mean we see the difference between the _generation_ (or seq) and the _check_ (

[2021-08-02 22:43] vitodb commented on #130
Yes, my take of the issue is that having the gen stage for the `seq` and the `quick` tests different input files, causes them to use different set of seeds.
The way reference files are generated and the way they are used by standard CI tests, can cause differences in `products` for the gen stage. However, given what information are provided by `products` we only noted this now because the two set

[2021-08-03 08:53] henrylay97 commented on #130
I have created a [bugfix](https://github.com/SBNSoftware/sbndcode/tree/bugfix/ci_genie_seeding_error) branch which will ensure this consistency as the first check. I've tested it locally and confirms it ensures the same seeds for the lines Vito pointed out, I will PR this today to get this in.

However, I'm even more convinced there is more to it as the product differences are specific to the Geni

[2021-08-05 11:55] henrylay97 commented on #130
The PR mentioned above has allowed us to update the reference files. However, at the first attempt the same warning cropped up again. So, as expected, there is something more fundamental broken in the way that the seeding is working.

[2021-08-09 13:32] marcodeltutto opened #137 "CRT Geometry in v02_00"
With the new geometry `v02_00`, the number of CRT auxiliary detectors returned by the GeometryService is 0. This likely has to do with the fact that the `physvol` name doesn't start with `volAuxDet`.

To quickly verify this behavior, with `sbndcode` set up:
[code]
This returns:
- `142` with `sbndcode v09_24_00` (geometry `v01_05`).
- `0` with `sbndcode v09_28_00` (geometry `v02_00`).

[2021-08-09 17:33] marcodeltutto commented on #137
Problem can be fixed by replacing
`<physvol name="CRTPaddle_CRT_declaring_modules" [...]`
with
`<physvol name="volAuxDetCRTPaddle_CRT_declaring_modules" [...]`

With this change `NAuxDets()` is `2152`, as expected.

But code now fails with
[code]
because in the new geometry there is one sensitive volume per CRT module, not 16.

Changes are needed to CRTChannelMap to be compatible with the new geom

[2021-08-09 18:21] absolution1 opened #139 "Shower calorimetry broken by PR 128 (view fix for the new geometry)"
The view fix for the new geometry has fixed many broken features in the reconstruction but it has had the unintended effect of negatively impacting the shower dE/dx reconstruction.

The working hypothesis is that the relevant module/algs in the shower reconstruction need a similar consistency fix as introduced in PR https://github.com/SBNSoftware/sbndcode/pull/128.

The 2021 production freeze shou

[2021-08-10 12:54] #78 closed

[2021-08-10 12:54] #80 closed

[2021-08-10 12:59] pgreen135 opened #140 "Flash matching does not work with XArapucas"
Following the updates to the XArapuca simulation (https://github.com/SBNSoftware/sbndcode/pull/133) the flash matching no longer works for the XArapucas. It has been temporarily disabled (https://github.com/SBNSoftware/sbndcode/pull/138) until it can be fixed.

[2021-08-10 13:18] wesketchum commented on #140
Attaching to the 'to-do' list for the fall release.

[2021-08-10 14:35] wesketchum commented on #139
@absolution1 @etyley @henrylay97 any update on this?

[2021-08-10 14:56] etyley commented on #139
I am just writing some slides for the meeting, but it seems like the fix that was put in to fix the signal shaped in PR 128 has indeed broken the shower calorimetry. We can discuss the best course of action in the meeting, as there does not appear to be a simple fix to this.

[2021-08-10 20:34] marcodeltutto opened #142 "Swap induction planes in TPC 0 once View is fixed"
Pull request #141 swapped induction planes 0 and 1 in TPC 0. This was meant to be a temporary fix to the fact that the View was not being parser correctly and was creating problems down the road. We need to fix how the View is assigned in LArSoft, so we can undo the action taken in the PR #141. Moreover, we will need to check the code added with PR #128.

[2021-08-10 20:54] marcodeltutto opened #143 "CRT Compatibility with the Refactored LArG4"
Pull request #134 marks the switch to the refactored LArG4. The CRT is excluded by the detsim stage because it needs an extra module to parse the new larg4 output.

[2021-08-10 22:36] wesketchum commented on #137
Moving to 2021C production as per discussion in SBN AI meeting 10 Aug.

[2021-08-10 22:38] wesketchum commented on #130
Moving for further discussion for Oct (2021C) release.

[2021-08-11 21:44] marcodeltutto opened #145 "Enable WireIntersection Geometry Test"
PR #141 disabled the `WireIntersection` test from the geometry tests. This test will need to be re-enabled once LArSoft [issue 26127](https://cdcvs.fnal.gov/redmine/issues/26127) is solved. We'll also need to check if we need or not all the other disabled tests:

https://github.com/SBNSoftware/sbndcode/blob/836b57a4a7f04c42c08f5b30e850b79a263dd8eb/test/Geometry/test_geometry_sbnd.fcl#L58-L69

[2021-08-11 21:50] marcodeltutto opened #146 "Enable LArQL Model"
When migrating to the refactored LArG4 in #134, and with PR #127, we switched to the Correlated light and charge model, but we didn't enable the LArQL model. The idea is to enable this for the Oct 2021 production.

[2021-08-12 14:56] marcodeltutto opened #147 "Check Gen and G4 InTime FHiCLs with Refactored LArG4"
As mentioned in PR #134, the `prodcorsika_proton_intime_filter.fcl ` and `g4_simphotontime_filter.fcl`, will have to be reviewed to make sure the in-time and out-time paths are both running correctly. Same is true for all intime fcls.

[2021-08-16 14:58] #139 closed

[2021-08-16 22:12] wesketchum opened #149 "Update CI reference files for v09_28_01"
Per #134, At minimum, new LArG4/geometry needs new reference files for standard fhicls to pass in CI:

* single_detsim_quick_test_sbndcode
* nucosmics_detsim_quick_test_sbndcode

Likely we want to do a more complete update of reference files.

Assigning to @chilge for now, who can I hope ask for updates elsewhere...

[2021-08-17 14:47] jzennamo opened #150 "Should we be using ScintillationByParticleType?"
Currently we have `ScintillationByParticleType: false` set in our G4 stage, I think this means we aren't correctly modeling our prompt to late-light ratios for the different particle types

[2021-08-17 14:49] jzennamo opened #151 "prodcorsika_proton_intime_filter.fcl doesn't work after the migration to the new LArG4"
Currently it looks as if `prodcorsika_proton_intime_filter.fcl` is trying to call fcls that no longer exist after the migration to the new LArG4

[2021-08-18 13:32] VCLanNguyen opened #153 "g4_no_opticalsim.fcl doesn't work with the new LArG4"
I got the following errors when running `g4_no_opticalsim.fcl`
` ServicesManager unable to find the service of type 'phot::PhotonVisibilityService'.`

[2021-08-18 14:43] pgreen135 commented on #153
the refactored LArG4 no longer uses the photon visibility service, so `services.PhotonVisibilityService: @erase` is likely the issue

[2021-08-18 15:19] PetrilloAtWork commented on #150
ICARUS is currently using `ScintByParticleType: true` (legacy `LArG4`).
Needless to say, this will need to be uniformed one way or the other.

[2021-08-18 15:46] henrylay97 opened #154 "Standard anatree no longer runs with new g4 changes"
The recent PR #134 which updated sbnd to the new larg4 has changed the module label for the production of `sim::SimChannels` for the TPC to be `simdrift` not `largeant`. This needs reflecting in the anatree configuration and module in order to run successfully. This was raised by the [CI build](https://dbweb8.fnal.gov:8443/LarCI/app/ns:sbnd/build_detail/phase_details?build_id=sbnd_ci/7020&platform

[2021-08-18 15:54] #154 closed

[2021-08-18 20:23] jzennamo opened #157 "cafmakerjob_sbnd_sce.fcl doesn't work as part of standard workflow"
When I run `cafmakerjob_sbnd_sce.fcl` after reco2 I get the below error. The input and log for the local test can be found here:
`/sbnd/app/users/jaz8600/AugustPrep/runtest`

[code]

[2021-08-18 20:25] jzennamo commented on #157
The specific fcl workflow, from sbndcode v09_28_01, I used is the following:

- prodoverlay_corsika_cosmics_proton_genie_fullosc_spill_gsimple-configh-v1_tpc.fcl
- standard_g4_sbnd.fcl
- standard_detsim_sbnd.fcl
- standard_reco1_sbnd.fcl
- standard_reco2_sbnd.fcl
- cafmakerjob_sbnd_sce.fcl

[2021-08-18 21:16] jzennamo commented on #157
Casting a wide net here looking for some help @etyley @mendezdpatricia @gputnam @cjbackhouse @PetrilloAtWork @FernandaPsihas @ikatza @absolution1 @henrylay97 @hgreenlee

My understanding of the issue is that currently `standard_reco2_sbnd .fcl` does not run pandora with SCE corrections applied , but the CAF stage isn't expecting that. It seems like we have three choices:
1. Run CAFs without SCE co

[2021-08-18 21:49] jzennamo commented on #157
I thought that I might just be able to substitute "reco2_sce.fcl" for "standard_reco2_sbnd.fcl" but that doesn't work because `reco2_sce.fcl` seg faults after or at "FlashPredict:  FlashPredict:fmatch@BeginModule"

[2021-08-18 21:53] jzennamo commented on #157
If I remove `opt0finder` and `opt0finderSCE` I am able to run `reco2_sce.fcl`

[2021-08-18 21:54] jzennamo commented on #157
Then the CAF file creation fails because the SimChannels had their producer changed to `sim::SimChannels_simdrift`

[2021-08-18 21:57] jzennamo commented on #157
OK! We're getting somewhere, I think we'll need to update for the new LArG4
`/cvmfs/larsoft.opensciencegrid.org/products/larsim/v09_14_03/job/backtrackerservice.fcl`

[2021-08-18 23:39] ikatza commented on #157
I believe this is the issue. To get SCE you need to run the SCE fcl versions starting from g4. Namely:
- g4_sce.fcl
- detsim_sce.fcl
- reco1_sce.fcl
- reco2_sce.fcl

[2021-08-18 23:41] ikatza commented on #157
For the stages you ran, you want to use `cafmakerjob_sbnd.fcl` (no SCE)

[2021-08-19 09:10] henrylay97 commented on #149
This is an ongoing process, we update the reference files whenever there are changes that give understood warnings, which at the moment averages once a week. As of last night the files are updated to reflect the 2021B production release :)

[2021-08-19 09:10] #149 closed

[2021-08-19 14:38] jzennamo commented on #157
OK, I guess that means the "standard" moniker on the above fcls isn't entirely accurate since I suppose we'd like to have SCE simulated, we'll update the workflows to use these "sce" fcls

Thanks @ikatza!

[2021-08-19 15:38] jzennamo commented on #157
When doing as @ikatza suggested I am still getting seg fault at reco2, and am getting an incredibly large number of these errors:
`Error: Invalid optical detector type. 0 = rectangular, 1 = dome, 2 = disk. Or corrections for chosen optical detector type missing.`

[2021-08-19 16:05] pgreen135 commented on #157
you're seeing that error at reco2? that is from the fast optical simulation missing the parameterisations and hence not working, should only appear in the g4 stage as far as I understand

[2021-08-19 16:09] jzennamo commented on #157
I am seeing that error when running `reco2`

[2021-08-19 16:11] pgreen135 commented on #157
maybe this is related to the flash matching then @ikatza?

[2021-08-19 16:15] jzennamo commented on #157
yeah, I also get this intermittent error:

[code]

[2021-08-19 16:17] pgreen135 commented on #157
possibly the flash matching is not correctly calling / configuring the light simulation functions now in the new larg4 when its making predictions, as its done differently compared with the legacy

[2021-08-19 16:22] hgreenlee opened #160 "genie fcl files need MaxFluxFileMB"
All genie fcl files should set GENIEGen parameter MaxFluxFileMB to limit the number of flux files that are opened to a reasonable number.

[2021-08-19 16:26] jzennamo commented on #157
I dropped optT0Finder and it seems to work

[2021-08-19 17:32] ikatza commented on #157
I don't think this mine. I believe this error comes from larsim. The exception doesn't say which module is printing it?

[2021-08-19 17:50] pgreen135 commented on #157
it comes from PDFastSimPAR in larsim, but isn't an issue there as the g4 stage runs without a problem (right?); what calls PDFastSimPAR in reco2?

[2021-08-19 17:52] ikatza commented on #157
`OpT0Finder` @marcodeltutto

[2021-08-19 18:15] jzennamo commented on #157
@etyley Looks like Razzel and Dazzel had a hardcoded call to largeant for simchannels, I am fixing now that

[2021-08-19 18:32] etyley commented on #157
It should just require a fcl parameter change, nothing should be hardcoded

[2021-08-19 19:10] jzennamo opened #163 "OpT0Finder Is SegFaulting in v09_28_01"
in SBNDCode v09_28_01 it looks like OpT0Finder has a few issues which it either seg faults or gives the following error:
`Error: Invalid optical detector type. 0 = rectangular, 1 = dome, 2 = disk. Or corrections for chosen optical detector type missing.` before crashing

[2021-08-19 19:11] jzennamo commented on #163
I removed it from the reco2 fcl files in this PR: https://github.com/SBNSoftware/sbndcode/pull/162

[2021-08-19 21:00] wforeman commented on #150
I vote for setting this to 'true' in SBND. A MIP-like late light ratio is already used by default when set to 'false', so this wouldn't change very much, but would enable pulse-shape discrimination studies down the line if anybody wanted to try that out with protons, etc.

[2021-08-19 22:30] jzennamo commented on #157
This is fixed in these PRs:
https://github.com/SBNSoftware/sbncode/pull/167
https://github.com/SBNSoftware/sbndcode/pull/162
https://github.com/SBNSoftware/sbnanaobj/pull/25

and with that I think it is all working now!

[2021-08-23 11:21] #145 closed

[2021-08-24 11:39] #160 closed

[2021-08-24 11:40] #157 closed

[2021-08-25 15:49] henrylay97 opened #165 "Seg faults when running g4 stage in recent sbndcode versions"
As discussed offline, I have discovered a seg fault issue when running the g4 stage in sbndcode `v09_28_01` onwards. This corresponds to the migration to the new larg4 via PR #134. The seg fault occurs sporadically in genie samples (~1/600 events) but far more often in an overlay sample (~1/50 events). This wasn't picked up by the CI due to its low-ish frequency.

The back trace leads to the follo

[2021-08-26 18:14] wesketchum opened #166 "PDS digitization for new LArG4 needs to handle multiple collections"
From conversation with @fjnicolas

I’ve been discussing with Diego and have thought about these possible solutions:
(1) Straightforward fix: disable the light simulation outside the volume should fix it (in “standard_g4_sbnd.fcl” comment “ionandscintout” and “pdfastsimout” in the ‘simulate’ vector), so the digitization module only receives two photon collections. This doesn’t really solve the bug,

[2021-08-27 11:55] #166 closed, assigned to nobody

[2021-08-31 14:24] pgreen135 commented on #165
there is now a larsoft PR that fixes this issue: https://github.com/LArSoft/larg4/pull/24

[2021-09-01 09:23] henrylay97 commented on #165
The above PR has been merged. We're all clear with the prof builds but debug builds are still failing at g4 at the assert on [this](https://github.com/LArSoft/larg4/blob/develop/larg4/pluginActions/ParticleListAction_service.cxx#L778) line:

``assert(p.NumberTrajectoryPoints() != 0ull);``

CI logs can be found [here](https://dbweb8.fnal.gov:8443/LarCI/app/ns:sbnd/build_detail/test_details?build_id

[2021-09-02 08:43] #165 closed

[2021-09-06 14:11] pgreen135 opened #174 "Large number of "Can't find nearest wire for position (x,y,z)" errors when running refactored larg4"
There are a large number of the following message when running the g4 stage since the change to the new geometry and refactored larg4:

[code]

If this isn't actually an issue, the messages need to be suppressed as they are swamping everything else --- e.g. there is ~700,000 lines of this in a recent CI test log: https://dbweb8.fnal.gov:8443/LarCI/app/ns:sbnd/storage/docs/2021/09/06/stdout%23zPg0k

[2021-09-07 14:26] marcodeltutto opened #175 "Keep only MCParticles in Specified Volumes in larg4"
With the new larg4 is not possible to specify volumes where to keep MCParticles. This feature is being added, see larsoft issue [26106](https://cdcvs.fnal.gov/redmine/issues/26106). We should change the g4 fcl config once this is implemented in larg4.

[2021-09-07 15:03] pgreen135 commented on #174
I notice that issue has been open for ~ 1 month -- if this is a longer term project could these be demoted to a debug message in the near term until it is fixed properly? the large number of messages can be a nuisance, e.g. in this distance making it difficult to load the logs from the CI test to identify the cause of a failure

[2021-09-07 15:20] marcodeltutto opened #176 "Dirt Workflow"
A workflow to generate neutrino interactions with the dirt is needed.

- First we need to quantify the dirt pile up (number of simultaneous dirt + cryostat neutrino interactions). This can be done with current dirt flux files, without filtering interactions in the cryostat.
- If pile up is negligible, use our “default” dirt workflow. Meaning, we generate a dirt sample separate from our default cry

[2021-09-07 15:24] marcodeltutto opened #177 "Corsika Cosmic Proton Shower Statistics"
The Corsika database used to query primary cosmic showers for our cosmic simulation  doesn't have enough statistics when running with only proton primaries. The result is that in many cases we end up sampling the same cosmic primary (the start position on the cosmic generation surface is random, but not its 4-momentum).

Also, a single job on the grid picks only one Corsika database file and sampl

[2021-09-07 20:54] marcodeltutto commented on #174
I asked in the larsoft thread, I agree with you the logs are too heavy with all these messages.

[2021-09-09 15:40] marcodeltutto commented on #147
With the new larg4 it doesn't seem to be possible to have multiple g4 paths in the same job, as we can't specify different input MCTruth collections for the different larg4 instances (larg4 takes all the MCTruth collections available with a `getMany`).

Opened LArSoft issue [26249](https://cdcvs.fnal.gov/redmine/issues/26249).

[2021-09-09 15:45] pgreen135 commented on #151
yes, it is -- closing

[2021-09-09 15:45] #151 closed

[2021-09-09 22:17] marcodeltutto commented on #153
Thanks @VCLanNguyen! I linked a PR that should solve this issue. I tested it and works for me, but please let me know if you'll have any trouble.

[2021-09-10 11:49] #153 closed

[2021-09-28 15:35] pgreen135 commented on #174
these messages have now been demoted to debug only as of larsoft v09_30_00, although the underlying issue has not yet been resolved

[2021-09-28 15:56] jzennamo commented on #174
Awesome! @marcodeltutto I think this can be closed then?

[2021-09-28 16:03] marcodeltutto commented on #174
Yes, let's close it, thanks!

[2021-09-28 16:03] #174 closed

[2021-09-28 20:39] marcodeltutto commented on #163
This problem is related to the fact that the SBND OpT0Finder currently uses the semi-analytical method located in the LegacyLArG4 directory (for ex, see [this include](https://github.com/SBNSoftware/sbncode/blob/develop/sbncode/OpT0Finder/flashmatch/Algorithms/PhotonLibHypothesis.h#L32)). This is needed to construct a flash hypothesis that is then matched to the reconstructed flashes.

This needs

[2021-09-29 15:32] pgreen135 commented on #163
I think factorising these functions into a separate class would be useful/cleaner in general, and it has been my intention to do that for a while now. Though I likely won't have time to do this in the very near future - if this is wanted immediately, could the same
approach as taken in the legacy code be used?

[2021-09-29 15:44] marcodeltutto commented on #163
Yes, I think using the same approach as in the legacy code will be fine (having these functions in a separate "OpFastScintillation" class which is then called by both the PDFastSimPAR and OpT0Finder codes)

[2021-09-29 18:06] pgreen135 commented on #163
okay, I'll try work on this

[2021-10-13 17:19] marcodeltutto commented on #147
LArSoft pull request: LArSoft/larg4#30

[2021-10-18 20:16] marcodeltutto opened #189 "Where to apply SCE position offsets"
In the new LArG4 workflow, it looks like the SCE position offsets are applied in two places, doubling the SCE offsets:
- in the [IonAndScint module](https://github.com/LArSoft/larsim/blob/develop/larsim/IonizationScintillation/IonAndScint_module.cc#L178)
- in the [SimDriftElectron module](https://github.com/LArSoft/larsim/blob/develop/larsim/ElectronDrift/SimDriftElectrons_module.cc#L358)

This pr

[2021-10-19 20:34] marcodeltutto commented on #147
LArSim PR opened: LArSoft/larsim#76. I will move issue [25525](https://cdcvs.fnal.gov/redmine/issues/25525) to a separate sbndcode ticket.

[2021-10-19 20:37] marcodeltutto opened #191 "Wrong Offsets in MergeSimSources for Rolled Up Track IDs"
@etyley pointed out a bug in the MergeSimSources (larsoft issue [25525](https://cdcvs.fnal.gov/redmine/issues/25525)):

[2021-10-19 20:41] wesketchum commented on #191
@etyley , would this be sufficient:

[code]

[2021-10-19 20:58] marcodeltutto commented on #191
I think that would do it for the SimEnergyDeposit, and then we would have to do a similar thing for MCParticles and SimChannels. The only annoying thing is that fixing the offset for SimChannels requires changes to `SimChannel` itself, as the offset is used here:
https://github.com/LArSoft/lardataobj/blob/573ba5ef6613f418bfc139cf1bd8a857c4787212/lardataobj/Simulation/SimChannel.cxx#L307

[2021-10-20 09:04] etyley commented on #191
I agree with Marco that the fix should be that simple but the structure of the code means the implementation needs to occur in many places, annoyingly across different repositories. In addition to the energy depositions, MCParticles and SimChannels, I assume that this also affects the SimPhotons(Lite) but I have not checked this.

[2021-10-25 17:04] #189 closed, assigned to marcodeltutto

[2021-10-26 09:43] rodralva opened #198 "OpHitFinder does not work with (Daphne)XArapucas"
This issue is related with the one pointed out by @ikatza  (#140) for FlashMatch.

As far as i know, flash finder algorithms use [OpHits](https://nusoft.fnal.gov/larsoft/doxsvn/html/classrecob_1_1OpHit.html) as inputs. To compute the Ophits, algorithms look for peaks in the [raw simulated waveforms](https://nusoft.fnal.gov/larsoft/doxsvn/html/classraw_1_1OpDetWaveform.html).

In SBND we have 2 rea

[2021-10-27 03:14] marcodeltutto opened #201 "Invert dependencies of genie+cosmics fcl files"
I noticed that the standard genie+cosmics fcl files in `sbndcode/JobConfigurations/standard/gen/overlay/` inherit from the fcl files in `gen/overlay/other_flux_config/`, while this should be the opposite. This is a mistake I made with PR #95. It's not a problem, but it's cleaner to have it the other way around.

[2021-10-27 14:40] marcodeltutto opened #202 "Energy deposits from rolled up EM showers are still saved with their original G4ID in the refactored larg4"
Opening this issue here to keep track of larsoft issue [26294](https://cdcvs.fnal.gov/redmine/issues/26294) by @henrylay97.

[2021-11-02 09:09] #147 closed

[2021-11-02 20:49] wesketchum commented on #191
@marcodeltutto and @etyley : just to confirm, we need this fixed for upcoming production, yes? If so, I can assign myself and try to get this done ASAP.

[2021-11-02 20:50] wesketchum commented on #202
@marcodeltutto any update on this from Kyle/Hans? And needed for 2021C or no?

[2021-11-02 21:07] wesketchum commented on #140
@rodralva @pgreen135 Is this issue now duplicated with #198 ? If so, we can close this one and just track this on the more recent one?

[2021-11-02 21:10] wesketchum commented on #143
Assigning @ilepetic and will say in progress since there is work going on/nearing completion. @ilepetic please attach to a PR/close this when complete.

[2021-11-02 21:11] wesketchum commented on #137
Assigning to @ilepetic and marking as in progress, as I believe there is a fix. When PR is made we should attach to this issue, and then close when all complete.

[2021-11-02 21:12] wesketchum commented on #130
@henrylay97 @chilge any update on this?

[2021-11-02 21:14] wesketchum commented on #142
@marcodeltutto this will require a number of things from LArSoft to fix, correct? And likely not on timescale for 2021C? General/short update on this would be nice :)

[2021-11-02 21:21] wesketchum commented on #163
@pgreen135 any update on this?

[2021-11-02 21:37] wesketchum commented on #175
@marcodeltutto any followup from Kyle? We should make sure they know the importance of this for running in ICARUS ...

[2021-11-02 21:44] wesketchum commented on #201
@marcodeltutto any update on this?

[2021-11-03 10:36] henrylay97 commented on #202
I would say its pretty critical for 2021C, if we want to do any sensible truth matching in analysis work, particularly for electron based studies.

There are kind of two options as I see it:
- this gets fixed and roll up works fine
- we run the production with the fcl parameter `keepEMShowerDaughters` set to true and perform the roll up in analysis rather than simulation. This is do-able but espec

[2021-11-03 10:38] cjbackhouse commented on #202
The current Icarus CAFs are very slow to use, I think because of huge amounts of non-rolled-up truth. So if fixing this at "analysis" time I think you would have to do it in CAFMaker, not literally in the analysis macros.

[2021-11-03 10:45] henrylay97 commented on #202
Even more of a reason to not want to do this I suppose!

[2021-11-03 12:59] #140 closed

[2021-11-03 13:04] pgreen135 commented on #163
@wesketchum this is top of my list to do now, and I will hopefully have the changes needed in place by mid next week. This requires some restructuring in larsim though (moving these functions into their own classes), so will need approval from the larsoft team

[2021-11-03 15:06] jzennamo commented on #202
`keepEMShowerDaughters == true` increases the file sizes incredibly for ICARUS so I am not keen on that solution, could we set up a meeting with Kyle/Hans to discuss the importance of fixing this for the Nov release?

[2021-11-03 21:38] wesketchum commented on #191
OK, associated PRs are in ...

@etyley or @marcodeltutto , if you have a simple way to test to see if this looks like it fixes things, let me know and I can run such a test.

* nusimdata: https://github.com/NuSoftHEP/nusimdata/pull/2
* lardataobj: https://github.com/LArSoft/lardataobj/pull/18
* larsim: https://github.com/LArSoft/larsim/pull/77

[2021-11-04 01:00] marcodeltutto commented on #142
@wesketchum correct, this is not on timescale for 2021C. I still need to contact the larsoft team to have a discussion on how to tackle this issue. I'll do it this week and keep this issue updated with any development.

[2021-11-04 01:10] marcodeltutto commented on #201
@wesketchum This is a minor issue but I opened it here to not forget. I can work on this as soon as I have a chance

[2021-11-04 01:13] marcodeltutto commented on #191
Thank you @wesketchum!

[2021-11-04 10:01] etyley commented on #191
Apologies for the late reply @wesketchum, I have been at a workshop this week. This is definitely required for both the in-time cosmics and dirt workflows we are hoping to incorporate into the upcoming production, so thanks for looking into this.

Any validation of this, other than simply plotting the trackIDs of each of the IDEs and particles, is going to be complicated by https://github.com/SBNS

[2021-11-04 17:10] marcodeltutto opened #205 "Repository order inferred by mrb"
I have been having trouble building `sbndcode` together with another larsoft package. If I download `sbndcode` and, say, `larsim`, I noticed that the order in the top-level `CMakeLists.txt` is not correct, meaning that it attempts to build `sbndcode` before `larsim`, and this fails.

Steps to reproduce:
[code]

I need to fix `CMakeLists.txt` manually to build.

@pgreen135 do you know if we need to

[2021-11-04 17:14] etyley commented on #205
I also came across this behaviour which seemed to start with the new version of `mrb`. In order to get it to build I had to install all of the repositories that are built on top of larsim (`ups depend` tells you the intermediate repositories). I think @miquelnebot has been in touch with the LArSoft team about this?

[2021-11-04 17:22] marcodeltutto commented on #205
Right, thanks @etyley! I think that is the solution in fact, but I'd like to avoid installing all repos if I need to modify just one (although I understand how this could create inconsistent builds...).

Apparently the command `mrb checkDeps` should automatically verify if anything is missing and check out missing packages, but if I try to run it it does nothing for me.

[2021-11-05 02:18] marcodeltutto commented on #202
@jzennamo Yes, I can send them an email and keep you all in the loop.

[2021-11-05 14:35] wesketchum commented on #202
Thanks @marcodeltutto. Since you're taking the lead on coordinating this I'm going to assign this to you (want to try to assign things), but appreciate that it's an external need...

[2021-11-09 00:31] marcodeltutto opened #212 "Add CRT simulation to InTime and Dirt Workflow"
Now that we have the CRT simulation working with the new LArG4 (PR #207), we need to make sure that:

- [x] we run it also in the in-time workflow
- [x] we run it also in the dirt workflow
- [x] we can make CRT-filtered samples

[2021-11-09 10:56] pgreen135 opened #213 "Unexplained OpHit / OpFlash product differences in CI tests following larana#14"
Several unexplained Reco1 product differences related to the OpHits and OpFlashes were picked up by the SBND CI tests following https://github.com/LArSoft/larana/pull/14 that made changes to the OpHitFinder for ICARUS (from Kazu).

Full details from CI can be found here: https://dbweb8.fnal.gov:8443/LarCI/app/ns:sbnd/build_detail/phase_details?build_id=sbnd_ci/7640&platform=Linux%203.10.0-1160.31.

[2021-11-09 14:36] #130 closed

[2021-11-10 09:34] henrylay97 commented on #213
In order to ease with code checks of the many PRs currently being tested for MCP2021C we have updated the reference files to reflect this and a few other changes (the other changes are expected and understood. This issue acts as a reminder to ensure we see that the reverse changes happen when this is fixed. Or that the changes are understood.

Changes in nucosmics_reco1:
[code]
Changes in single_r

[2021-11-10 14:39] #176 closed

[2021-11-10 15:49] jzennamo commented on #213
As a follow-up, it looks like LArSoft/larana#14 is supposed to add a flag "CatchSaturation" when I fiddle that flag it doesn't change the number of ophits reco'ed

[2021-11-10 16:20] jzennamo commented on #213
@pgreen135 pointed out that there is a change in that the thresholds are now hardcoded:
[code]
https://github.com/LArSoft/larana/pull/14/files#diff-0c4189a514da722a0ba987f3ea92657435e2141356665b91261d645d4e98f29eL326-R345

[2021-11-10 16:31] wesketchum commented on #213
OK, trying to sum up possible changes...

https://github.com/LArSoft/larana/compare/LARSOFT_SUITE_v09_35_00..LARSOFT_SUITE_v09_35_01

* `_threshold` parameter is not used in spots, and has been replaced by a local_mean check to be >-0.1 instead (noted by @pgreen135)
* calculation of local_mean and local_rms now centers around a pre- and post-sample ... not sure if that is compensated later or not

[2021-11-10 17:15] drinkingkazu commented on #213
Thanks for finding this!

If helpful, I am happy to take a look if you could provide me a larsoft file w/ waveforms to run ophit finder (and preferably has nothing else that complains on persistency like required geometry etc...).

[2021-11-11 11:24] pgreen135 commented on #213
To keep track, LArSoft issue corresponding to this: https://cdcvs.fnal.gov/redmine/issues/26421

[2021-11-12 12:07] pgreen135 commented on #213
@drinkingkazu you can use this detsim file from Henry for testing: `/sbnd/data/users/hlay/for_joe/single_detsim_test_sbndcode_Reference-202110260652.root`

This was made with the sbnd geometry, using sbndcode v09_35_01

[2021-11-12 21:51] marcodeltutto opened #217 "Reduce Number of LArG4 AuxDetHits"
With PR #207 we have the CRT running with the new LArG4. LArG4 makes many separate collections for AuxDetHits, which makes it hard to work with these files. This will be addressed in the near future. A LArSoft issue will be opened soon.

[2021-11-15 15:51] wesketchum commented on #191
LArSoft PRs were merged in, so closing this issue.

[2021-11-15 15:51] #191 closed

[2021-11-15 20:38] fjnicolas opened #219 "Propagation times for scintillation photons produced in the outer volume are not simulated"
The refactored larg4 cannot use (it is "broken" at the moment) the transport time model + library.  This means that propagation times are not simulated/included for scintillation photons produced in the OUT-TPC volume (only emission time is considered). An example can be seen in the plot (averaged photon arrival times for nu-mu events at x~100 cm for both light components):

<img width="492" alt="

[2021-11-16 00:26] marcodeltutto commented on #219
Hi @fjnicolas, great you found this issue! I agree with you that we should disable this for now.

[2021-11-17 14:18] pgreen135 commented on #219
Re-opening this issue to keep track of. The optical hybrid has now been disabled until this can be fixed. The changes needed are related to those needed for https://github.com/SBNSoftware/sbndcode/issues/163, I will assign myself to this

[2021-11-18 14:43] pgreen135 commented on #213
larana#14 has now been reverted (https://github.com/LArSoft/larana/pull/16), so I will close this issue

[2021-11-18 14:43] #213 closed

[2021-11-18 17:54] rodralva opened #225 "Apsaia XArapuca channels are not reconstructed"
With [the last update of the OpHitFinder](https://github.com/SBNSoftware/sbndcode/pull/216), the Apsaia channels (10% of the total) are not taken into account in the HitFinder. Before the update, the rest (90%) of them were computed wrong.

This is due to the [philosophy in larsoft clock classes](https://nusoft.fnal.gov/larsoft/doxsvn/html/classdetinfo_1_1ElecClock.html), each clock in larsoft onl

[2021-11-19 09:47] henrylay97 commented on #202
What is our plan for dealing with this given no fix was present in this week's LArSoft release?

[2021-11-19 09:48] henrylay97 commented on #202
I'm happy to look into applying this in CAFMaker but it would require us to simulate with roll-up turned off which will have a huge impact on g4 run time & memory.

[2021-11-19 14:25] #137 closed

[2021-11-19 14:25] #143 closed

[2021-11-19 14:25] #217 closed

[2021-11-19 15:06] jzennamo commented on #202
@wesketchum reached out to the LArSoft team to understand where this fix stands

[2021-11-22 11:02] #212 closed

[2021-11-22 11:16] pgreen135 commented on #198
Following https://github.com/SBNSoftware/sbndcode/pull/216 this has been (mostly) resolved. The remaining issues are documented in https://github.com/SBNSoftware/sbndcode/issues/225, so I will close this.

[2021-11-22 11:16] #198 closed

[2021-11-24 15:51] wesketchum opened #230 "Need interim truth-matching solution/downstream EM shower rollup"
Because we are still waiting on the LArSoft patch for #202 , we need an interim solution for this for SBND (ICARUS did not make the jump to the new LArG4 for this release, so it shouldn't affect them).

As discussed in the Release Management meeting, we'll move ahead without this for this week/production testing, but we need something in place before launching most of our production samples.

I th

[2021-11-24 15:53] wesketchum commented on #230
Pinging @henrylay97 @jzennamo @marcodeltutto @cjbackhouse @miquelnebot @pgreen135 etc. here so you are aware.

I hate to do it, but I think actually it makes sense to change `keepEMShowerDaughters` to True in SBND for as part of production testing for next week (still need downstream for CAFs). If that is sensible, @marcodeltutto or @henrylay97, can I ask you to get a PR in with that change made p

[2021-11-24 18:46] jzennamo commented on #230
Could we create a second set of SBND fcl with `keepEMShowerDaughters == true` that we can use in test samples before we launch production?

[2021-11-25 13:47] henrylay97 commented on #230
So there already exists a fcl `g4_no_shower_rollup.fcl` which lives [here](https://github.com/SBNSoftware/sbndcode/blob/develop/sbndcode/JobConfigurations/standard/g4/g4_no_shower_rollup.fcl) which runs standard g4 without rollup.

On [this](https://github.com/SBNSoftware/sbndcode/tree/feature/hlay_no_rollup) branch I've added an equivalent for sce enabled g4.

I'm currently running some tests on

[2021-11-25 14:39] henrylay97 commented on #230
First set of CI results. Running the nu+cosmics regression test. The g4 stage (processing an artroot file with 2 BNB+Cosmic events).

[**v09_37_01**](https://dbweb8.fnal.gov:8443/LarCI/app/ns:sbnd/build_detail/test_details?build_id=sbnd_ci/8081&platform=Linux%203.10.0-1160.45.1.el7.x86_64&buildtype=slf7%20e20:prof&phase=ci_tests&test=nucosmics_g4_quick_test_sbndcode)
Elapsed time: 660.29 (s)
MaxRS

[2021-11-25 15:56] henrylay97 commented on #230
Further update, the largest time difference is coming from the `mcreco` stage not the actual `largeant` stage. There are also effects on file writing and pdfastsim. Do we need `mcreco`?

Before
[code]

After
[code]

[2021-11-26 09:46] henrylay97 commented on #230
So I've now tested four options
- Standard
- No rollup
- No mcreco (for reference)
- Neither rollup or mcreco (potential production version)

These are the results showing the effect on g4 AND on the following stages detsim reco1 and reco2.
_Note the difference between g4 quick and g4 seq is that the quick tests run 2 events whilst seq run 5._

![image](https://user-images.githubusercontent.com/68

[2021-11-29 15:58] pgreen135 commented on #230
@miquelnebot this remains open, and critical -- the merged PR only contains some new fhicls for testing, we still do not have a decided upon solution

[2021-11-29 16:15] pgreen135 commented on #230
yes, this is essential/blocking for SBN2021C for SBND

[2021-11-29 17:19] pgreen135 commented on #219
@fjnicolas I have done the necessary restructuring in larsim to allow the propagation times to be simulated with the library. The branches are (both based on v09_37_01):

https://github.com/pgreen135/larsim/tree/feature/pgreen_semianalyticmodel_refactor
https://github.com/SBNSoftware/sbndcode/tree/feature/pgreen_hybrid_model_propagation_times

could you check that this resolves this issue?

[2021-11-29 19:31] jzennamo commented on #230
Does anyone have any pushback to this plan?

[2021-11-29 19:37] pgreen135 commented on #230
That sounds reasonable, it would be good to double check the output from MCReco without rollup is still as needed for these analyses (the 100x slowdown might point to some issue?)

[2021-11-29 19:41] henrylay97 commented on #230
yeah @pgreen135 makes a good point. [This](https://github.com/SBNSoftware/sbndcode/issues/230#issuecomment-979268223) comment contains the product differences and there are ~10x the number of MCShowers. This points to a fragmentation of showers that may be damaging to these analyses.

[2021-11-29 19:47] jzennamo commented on #230
Agreed, once I have a test CAF file I was going to share it with the analysis teams

[2021-11-29 19:48] jzennamo commented on #230
@pgreen135 where is there a 100x slowdown? I think I missed that message... :gulp:

[2021-11-29 19:50] henrylay97 commented on #230
I think Patrick is referring to the `mcreco` element of the g4 differences. MCReco went from ~.5s per event to ~500s per event (~1000x).

[2021-11-29 19:56] jzennamo commented on #230
gotcha, MCReco has always been a "problem child" making it slow when there are many MCParticles, which is why it is nice to have the roll-up working. I think that this scale-up is expected since there are so many "subparticles" in an EM shower (sadly)

[2021-11-29 22:08] marcodeltutto commented on #163
Thanks @pgreen135! I'll work on it in the next days

[2021-11-30 22:10] fjnicolas commented on #219
Looks good! This is the plot I obtain for the SimPhotons arrival time distribution for muon neutrinos at <X>~170 [cm] without the larsim restructuring (left) and with the modifications (right). The `ionandscint` and `ionandscintout` inputs are the same in both cases.

<img width="679" alt="plot1" src="https://user-images.githubusercontent.com/66068208/144135630-52f5f5b0-8463-4874-ba78-4752a47e20fb

[2021-11-30 22:13] pgreen135 commented on #219
Thanks for running these tests @fjnicolas!

[2021-12-06 10:44] pgreen135 commented on #163
@marcodeltutto the branch has now been tested and appears to be working as expected so I am planning to open a larsoft PR today for this to start that process, unless there are any issues / requests from your side beforehand for the opt0finder?

[2021-12-06 14:23] marcodeltutto commented on #163
Sounds good @pgreen135, I haven't had the time to look over it but please open the PR

[2021-12-07 17:16] pgreen135 commented on #230
Closing now https://github.com/SBNSoftware/sbndcode/pull/234 has been merged.

[2021-12-07 17:18] henrylay97 commented on #230
Can I request we keep this open until someone has produced a CAF level solution to the other half of this issue?

[2021-12-07 17:37] pgreen135 commented on #230
sure, sorry @henrylay97 --- yes that is still outstanding, who is currently working on this? The CAF side of things is non-blocking for production to start right?

[2021-12-08 10:28] henrylay97 commented on #230
Depends whether we want to have to re-run the CAF stage I suppose! @jzennamo @wesketchum @cjbackhouse might be able to comment more on this side of things...

[2021-12-10 12:35] #142 closed

[2021-12-16 10:13] pgreen135 commented on #163
Re-opening as I hadn't meant this to be closed. @marcodeltutto https://github.com/LArSoft/larsim/pull/84 has now been included in v09_40_00, so the OpT0Finder can be re-activated once fixed. When you do get a chance to look at this, can you make these changes on a branch compatible with the SBN2021C releases --- it would be good to get this included in the 2022A release

[2021-12-17 10:34] #219 closed

[2021-12-17 10:43] pgreen135 opened #241 "Include light simulation updates in SBN2022A release"
Light simulation restructuring in https://github.com/LArSoft/larsim/pull/84 needs including in LArSoft patch for SBN2022A release:
- required for https://github.com/SBNSoftware/sbndcode/pull/235, that re-enables the Hybrid light simulation model (resolving https://github.com/SBNSoftware/sbndcode/issues/219)
- required to fix flash matching, https://github.com/SBNSoftware/sbndcode/issues/163

[2021-12-20 15:24] ggamezdiego opened #243 "Optical Library problem with Geometry v02"
The optical library generated with the new SBND geometry v02 presents unexpected values for the visibilities for some PMTs in the voxels intersecting with them. A sample of 30 PMTs in the TPC with X>0 and in the central APA-windows see a lot of more light than its symmetric situation for TPC with X<0:
<img width="1413" alt="Captura de pantalla 2021-12-17 a las 23 11 16" src="https://user-images.gi

[2021-12-23 13:28] pgreen135 commented on #243
The optical library has now been updated in https://github.com/SBNSoftware/sbndcode/pull/245 and sbnd_data v01_11_00. The underlying problem with the geometry remains however and needs resolving to avoid issues with future library generation and/or full optical simulation.

[2022-01-18 15:20] #163 closed

[2022-01-18 16:07] pgreen135 commented on #241
Flash matching has now been fixed and re-enabled in https://github.com/SBNSoftware/sbndcode/pull/247, resolving https://github.com/SBNSoftware/sbndcode/issues/163. This PR should also be included in the 2022A release.

[2022-01-21 17:44] pgreen135 commented on #241
List of PRs required:
- https://github.com/LArSoft/larsim/pull/84 (light simulation refactoring)
- https://github.com/SBNSoftware/sbndcode/pull/235 (hybrid model)
- https://github.com/SBNSoftware/sbndcode/pull/245 & sbnd_data v01_11_00 (hybrid model)
- https://github.com/SBNSoftware/sbncode/pull/227 (Opt0Finder)
- https://github.com/SBNSoftware/sbndcode/pull/247 (Opt0Finder)

[2022-02-01 21:40] ilepetic opened #252 "CRT: MeV vs GeV units for IDE"
The GenericCRT module outputs IDEs in MeV, while the SBND CRT detsim expects GeV. This causes the SiPMs to be always record maximum values.

PR https://github.com/LArSoft/larsim/pull/86 resolves this and should be added to the SBN 2022A release.

[2022-02-08 18:01] pgreen135 commented on #241
https://github.com/SBNSoftware/sbndcode/pull/253 and https://github.com/SBNSoftware/sbncode/pull/230 contain all the required commits to include this in the SBN2022A release in a format compatible with the SBN2021C branch

[2022-02-09 16:29] henrylay97 commented on #252
@pgreen135 no this was only found after 2021C was launched. There will however be a CRT related PR from myself to sbndcode for the 2022A release. I will get this done as soon as I can :)

[2022-02-09 16:37] pgreen135 commented on #252
@henrylay97 okay, thanks

[2022-02-21 16:54] cjbacchus opened #260 "Set SAM_EXPERIMENT=sbn by default"
Now that the SAM databases are unified, we should set `SAM_EXPERIMENT=sbn` in the default setup. This will make the samweb command-line tool, and CAFAna's SAM infrastructure, work out of the box. This is set by `/cvmfs/sbnd.opensciencegrid.org/products/sbnd/setup_sbnd.sh`, but I'm not sure where (if anywhere?) that is version controlled.

[2022-02-21 16:54] cjbackhouse commented on #260
See also https://github.com/SBNSoftware/icaruscode/issues/339

[2022-02-21 17:00] pgreen135 commented on #260
That is a very good question, as far as I am aware the setup scripts are not version controlled, so I am not sure the best way to go about changing this in a backward compatible way. I guess it could be done with a check against the version number in the script?

[2022-03-11 16:06] marcodeltutto opened #261 "LArG4 EnergyCut"
In the LegacyLArG4 we had the kinetic energy cut for particle tracking set to `1e-5`, assuming it’s GeV, so `1e-5 GeV = 10 keV`.
The problem is that the new LArG4 assumes the unit is MeV, `1e-5 MeV = 10 eV`, so we are applying a 10 eV cut on particle tracking. We usually consider this too low, at least for general production.

We should:

- [x] change the `1e-5` to `1e-2` in https://github.com/SBN

[2022-03-21 15:54] #252 closed

[2022-03-21 15:59] wesketchum commented on #261
@marcodeltutto , if we can close this issue (and merge the discussion on behavior elsewhere, either a new issue or ... etc.) that would be great.

[2022-03-22 10:01] pgreen135 commented on #230
@henrylay97 is this now resolved / can be closed?

[2022-03-22 10:02] pgreen135 commented on #202
Now resolved -- https://cdcvs.fnal.gov/redmine/issues/26294

[2022-03-22 10:02] #202 closed

[2022-03-22 10:21] henrylay97 commented on #230
Yep! Not resolved but the original issue has gone / is going away so no longer relevant :)

[2022-03-22 10:22] #230 closed

[2022-03-22 14:33] #261 closed

[2022-03-22 14:34] marcodeltutto opened #270 "EnergyCut Units in LArG4"
This issue is here to keep track of LArSoft [issue 26764](https://cdcvs.fnal.gov/redmine/issues/26764).

Also check issue #261 for more details.

[2022-06-08 16:03] marcodeltutto commented on #243
Hi @gustavogx, @mrguzzo, just wondering if you have any update on this?

[2022-06-08 16:04] #205 closed

[2022-06-08 16:07] marcodeltutto opened #287 "Make default fcls use SCE config"
Our "default" fcl files (`standard_g4_sbnd.fcl`, `standard_detsim_sbnd.fcl`, etc) have SCE turned off. In the latest production we ended up using "alternative" fcls (`g4_sce.fcl`, `detsim_sce.fcl`, etc) that have SCE on.

We should have SCE on in the standard fcls, and use standard fcls as much as possible in production. We should then have alternative configurations without SCE.

[2022-06-09 09:05] absolution1 commented on #287
I 100% agree with this and was thinking about this exact thing yesterday.

The `X_sce.fcl` files enable the SCE services by `#include`'ing a dedicated FCL file that enables all of the services.

This should not happen when enabling SCE in the `standard` workflow i.e. the SCE fcl should not be `#include`'ed in the `standard_X_sbnd.fcl` files.  The reason being that it should not be up to the standa

[2022-09-09 08:11] wesketchum commented on #287
I agree this is a good idea. Any progress towards this?

[2022-09-21 13:48] fjnicolas opened #300 "LArFFT service shared by TPC/PDS deconvolution modules"
Recently a module (`OpDetReco/OpDeconvolution`) to deconvolve the PMTs/XARPAUCAs signals was added in `sbndcode`. It makes use of the `LArFFT` service in a similar way to the TPC wire deconvolution module (`Calibration/CalWireSBND_module`). However this service was originally designed to work only with the TPC wire waveforms.  The PDS waveforms are larger than the TPC ones, meaning that a differen

[2022-10-14 15:41] #300 closed